"*":
  core:
    closeDeletedFileTabs: true
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".next"
      "node_modules"
    ]
    projectHome: "/Users/ckn/Workspace/dev"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "mono-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    fontFamily: "SF Mono"
    fontSize: 11
    scrollPastEnd: true
  "exception-reporting":
    userId: "914909c0-76fd-4b35-8e7b-1f0d3df3bd01"
  linter:
    lintPreviewTabs: false
  "linter-ui-default":
    panelHeight: 99
  "markdown-preview":
    useGitHubStyle: true
  "no-title-bar":
    enableLiberalWindowDragging: true
    metaKeyMouseDrag: false
  "one-dark-ui":
    fontSize: 11
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".js.jsx.react.source":
  editor:
    softWrap: true
