
// Colors
@yellow: #c1bc83;
@light-gray: #555555;

// Tooltips
.tooltip {
  display: none;
  visibility: hidden;
}

// Tree view
@git-modified: @yellow;
@git-ignored: @light-gray;

// Active tree-view marker
.tree-view::before {
  background: white;
}

.list-group,
.list-tree {
  .generate-list-item-status-color(@color, @status) {
    li:not(.list-nested-item).status-@{status},
    li.list-nested-item.status-@{status} > .list-item {
      color: @color;
    }

    li:not(.list-nested-item).selected.status-@{status},
    li.list-nested-item.selected.status-@{status} > .list-item {
      color: @color;
    }
  }

  .generate-list-item-status-color(white, added);
  .generate-list-item-status-color(@git-ignored, ignored);
  .generate-list-item-status-color(@git-modified, modified);
  // .generate-list-item-status-color(@text-color-removed, removed);
  // .generate-list-item-status-color(@text-color-renamed, renamed);
}

// Tabs
@tabs-accent-color: white;
@tabs-modified-icon: @yellow;

.tab-bar {
  .tab {
    // Active Marker
    &::before,
    &.active::before {
      background: @tabs-accent-color;
    }
    // Close Icon
    .close-icon {
      &:hover {
        color: @tabs-accent-color;
        background-color: rgba(255,255,255,0.1);
      }
    }
    // Modified Icon
    &.modified {
      &:hover .close-icon {
        color: @tabs-accent-color;
      }
      &:not(:hover) .close-icon {
        color: @tabs-modified-icon;
      }
    }
  }

  // Dragging
  .placeholder {
    // Bar
    &:before {
      background-color: @tabs-accent-color;
    }
    // Arrow
    &:after {
      border: 0 none;
    }
  }
}

// packages
.markdown-preview[data-use-github-style] {
  padding: 45px;
  max-width: 980px;
  font-family: 'BlinkMacSystemFont', sans-serif;

  a {
    color: #0366d6;
  }
}
